@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap");

:root {
  --primary-color: #a51414;
  --secondary-color: #a54b4b;
  --tertiary-color: #c93b3b;
  --light-color: #f0f0f0;
  --dark-color: #3c0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
}

span {
  font-weight: 600;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  background: url("../images/background/cinema.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

.contenido {
  display: grid;
  grid-template-areas: "informacion" "header" "main" "footer";
  grid-template-rows: auto auto 1fr auto;
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
}

.informacion {
  background-color: var(--dark-color);
  grid-area: informacion;
  padding: 6px 10px;
  display: flex;
  justify-content: center;
}

.informacion nav {
  width: 1200px;
  color: white;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.informacion a {
  color: white;
  text-decoration: none;
}

.informacion i {
  font-size: 1.6rem;
}

header {
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
}

header nav {
  width: 1200px;
  color: white;
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 6px 0;
  justify-content: space-between;
}

header .logo {
  height: 60px;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.sesion-usuario {
  font-size: 1.1rem;
  color: black;
  margin-right: 20px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: "inicio" "imagenes" "guardadas" "proximamente" "populares";
  position: relative;
}

.inicio {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  grid-area: inicio;
  display: flex;
  justify-content: center;
}

.inicio__contenido {
  padding: 50px;
  width: 600px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.inicio .titulo {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-size: 6rem;
}

.inicio__imagenes {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    var(--light-color) 50%,
    var(--light-color) 100%
  );
  display: flex;
  justify-content: center;
  gap: 40px;
}

.inicio__imagenes img {
  height: 150px;
  width: 260px;
  object-fit: cover;
}

.guardadas {
  background-color: var(--light-color);
  grid-area: guardadas;
  text-align: center;
  align-items: center;
  width: auto;
  padding: 60px 50px 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  color: var(--primary-color);
  font-size: 2rem;
}

h3 {
  color: var(--tertiary-color);
  font-size: 1.3rem;
}

.guardadas__botones {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.guardadas__contenido {
  display: grid;
  grid-template-areas: "pendientes" "favoritas";
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 20px;
}

.guardadas__contenido > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.favoritas {
  grid-area: favoritas;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pendientes {
  grid-area: pendientes;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.favoritas__contenido,
.pendientes__contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.guardadas__tarjetas {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.guardadas__tarjeta {
  background-color: white;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: 20px;
  flex-direction: column;
  width: 350px;
  border-radius: 20px;
  text-align: start;
  gap: 14px;
  height: 520px;
  transition: all 0.3s ease;
}

.pendientes .guardadas__tarjeta:hover {
  transform: perspective(800px) rotateX(-5deg) rotateY(0deg) scale(1.1);
  box-shadow: 0 0 0 2px var(--primary-color), 0px 8px 6px rgba(0, 0, 0, 0.4);
}
.pendientes .guardadas__tarjeta:hover button {
  transform: translate(4px);
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.4);
}
.pendientes .guardadas__tarjeta:first-child:hover {
  transform: perspective(800px) rotateX(-5deg) rotateY(8deg) scale(1.1);
  box-shadow: 0 0 0 2px var(--primary-color), -6px 8px 6px rgba(0, 0, 0, 0.4);
}
.pendientes .guardadas__tarjeta:first-child:hover button {
  transform: translate(4px);
  box-shadow: -4px -4px 6px rgba(0, 0, 0, 0.4);
}
.pendientes .guardadas__tarjeta:last-child:hover {
  transform: perspective(800px) rotateX(-5deg) rotateY(-8deg) scale(1.1);
  box-shadow: 0 0 0 2px var(--primary-color), 6px 6px 6px rgba(0, 0, 0, 0.4);
}
.pendientes .guardadas__tarjeta:last-child:hover button {
  transform: translate(4px);
  box-shadow: 4px -4px 6px rgba(0, 0, 0, 0.4);
}

.favoritas .guardadas__tarjeta:hover {
  transform: perspective(800px) rotateX(5deg) rotateY(0deg) scale(1.1);
  box-shadow: 0 0 0 2px var(--primary-color), 0px 8px 6px rgba(0, 0, 0, 0.4);
}
.favoritas .guardadas__tarjeta:hover button {
  transform: translate(4px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
.favoritas .guardadas__tarjeta:first-child:hover {
  transform: perspective(800px) rotateX(5deg) rotateY(8deg) scale(1.1);
  box-shadow: 0 0 0 2px var(--primary-color), -6px 8px 6px rgba(0, 0, 0, 0.4);
}
.favoritas .guardadas__tarjeta:first-child:hover button {
  transform: translate(4px);
  box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.4);
}
.favoritas .guardadas__tarjeta:last-child:hover {
  transform: perspective(800px) rotateX(5deg) rotateY(-8deg) scale(1.1);
  box-shadow: 0 0 0 2px var(--primary-color), 6px 6px 6px rgba(0, 0, 0, 0.4);
}
.favoritas .guardadas__tarjeta:last-child:hover button {
  transform: translate(4px);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.guardadas__tarjeta span {
  font-size: 1.2rem;
}

.guardadas__tarjeta--imagen {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.guardadas__tarjeta--detalles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.guardadas__tarjeta--titulo {
  color: var(--primary-color);
}

.guardadas__tarjeta--calificacion {
  color: var(--primary-color);
}

.guardadas__tarjeta--descripcion {
  color: var(--dark-color);
  text-align: start;
  overflow-y: auto;
  height: 100%;
}

.guardadas__tarjeta--boton {
  display: block;
}

.proximamente {
  background-color: var(--light-color);
  grid-area: proximamente;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 50px 0 50px;
}

.proximamente__peliculas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.proximamente__pelicula {
  position: relative;
  transition: all 0.3s ease;
  color: white;
}

.proximamente__pelicula--informacion {
  padding: 20px;
  position: absolute;
  background-color: #00000088;
  border-radius: 20px;
  width: 260px;
  height: 260px;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.proximamente__pelicula--informacion p {
  font-size: 0.8rem;
}

.proximamente__pelicula--titulo {
  font-size: 1.2rem;
}

.proximamente__pelicula--descripcion {
  overflow: auto;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.proximamente__pelicula img {
  border-radius: 20px;
  width: 260px;
  height: 260px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.proximamente__pelicula:hover {
  transform: scale(1.1);
}

.proximamente__pelicula:hover .proximamente__pelicula--informacion {
  opacity: 1;
}

.proximamente__peliculas--avanzar,
.favoritas__peliculas--avanzar,
.pendientes__peliculas--avanzar,
.populares__peliculas--avanzar {
  background-color: transparent;
  border: none;
}

.proximamente__peliculas--avanzar img,
.favoritas__peliculas--avanzar img,
.pendientes__peliculas--avanzar img,
.populares__peliculas--avanzar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.proximamente__peliculas--avanzar img:hover,
.favoritas__peliculas--avanzar img:hover,
.pendientes__peliculas--avanzar img:hover,
.populares__peliculas--avanzar img:hover {
  background-color: #3c0f0f2d;
}

.proximamente__peliculas--avanzar.siguiente img:hover,
.favoritas__peliculas--avanzar.siguiente img:hover,
.pendientes__peliculas--avanzar.siguiente img:hover,
.populares__peliculas--avanzar.siguiente img:hover {
  transform: translateX(-4px);
}

.proximamente__peliculas--avanzar.anterior img:hover,
.favoritas__peliculas--avanzar.anterior img:hover,
.pendientes__peliculas--avanzar.anterior img:hover,
.populares__peliculas--avanzar.anterior img:hover {
  transform: translateX(4px);
}

.populares {
  background-color: var(--light-color);
  grid-area: populares;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 50px 50px 50px;
}

.populares__peliculas {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 400px;
}

.populares__pelicula {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  gap: 5px;
}

.populares__pelicula img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.populares__pelicula span {
  cursor: pointer;
}

.populares__pelicula--titulo {
  font-size: 1.5rem;
  margin-bottom: 4px;
  text-align: center;
}

.populares__pelicula--grande img {
  border-radius: 50%;
  width: 260px;
  height: 260px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.populares__pelicula:hover img {
  width: 240px;
  height: 240px;
}

.populares__pelicula--grande:hover img {
  width: 290px;
  height: 290px;
}

.boton__1 {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.boton__2 {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.boton__3 {
  background-color: var(--primary-color);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  color: white;
  padding: 50px;
  gap: 200px;
}

.footer__izquierda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__licencias {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer__redes {
  display: flex;
  gap: 20px;
}

.footer__redes a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.footer__menus {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.footer__menus span {
  display: block;
  margin-bottom: 8px;
}

.footer__menus ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.footer__menus li {
  list-style: none;
}

.modal__fondo {
  position: absolute;
  background-color: #0000004b;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.mostrar {
  visibility: visible;
  opacity: 1;
}

.mostrarDisplay {
  display: block;
}

.modal__contenido {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 800px;
  scale: 0.9;
  transition: all 0.3s ease;
}

.modal__contenido--abierto {
  scale: 1;
}

.modal__contenido--proximamente {
  height: 400px;
  display: flex;
  gap: 20px;
}

.modal-proximamente__detalles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-proximamente__botones {
  display: flex;
  gap: 20px;
}

.modal-proximamente__botones--eliminar {
  display: none;
}

.modal-proximamente__vista-general {
  overflow-y: auto;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

.modal__cerrar {
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.4rem;
  cursor: pointer;
}

.modal__contenido--inicio-sesion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.modal__contenido--registro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario input {
  padding: 10px;
  border: none;
  background-color: var(--light-color);
  border-radius: 4px;
}

.formulario input:focus {
  outline: none;
}





table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: var(--primary-color);
  color: white;
}

table tr:hover {
  background-color: #f1f1f1;
}

table td {
  font-size: 1em;
}

table td:nth-child(4) {
  text-align: center;
}

/* Botón para cerrar el modal */
.modal__fondo {
  cursor: pointer;
}

.modal__contenido--usuarios {
  cursor: auto;
}






@media (max-width: 1360px) {
  .proximamente__pelicula--informacion {
    padding: 20px;
    position: absolute;
    background-color: #00000088;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .proximamente__pelicula img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .populares__pelicula img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }

  .populares__pelicula--grande img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .populares__pelicula:hover img {
    width: 180px;
    height: 180px;
  }

  .populares__pelicula--grande:hover img {
    width: 220px;
    height: 220px;
  }

  .populares__peliculas {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 350px;
  }

  .populares__pelicula {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 100%;
    gap: 5px;
  }

  .populares__pelicula--titulo {
    font-size: 1rem;
    margin-bottom: 4px;
    text-align: center;
  }

  .informacion nav {
    width: 1000px;
  }

  header nav {
    width: 1000px;
  }

  .footer {
    padding: 25px;
    gap: 140px;
    font-size: 0.8rem;
  }

  .footer i {
    font-size: 1.4rem;
  }

  .footer__menus {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .guardadas__tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .guardadas__tarjeta {
    width: 275px;
    height: 430px;
    transition: all 0.3s ease;
  }

  .guardadas__tarjeta span {
    font-size: 1rem;
  }

  .guardadas__tarjeta p {
    font-size: 0.8rem;
  }

  .guardadas__tarjeta--imagen {
    height: 140px;
  }

  .guardadas__tarjeta--detalles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .inicio__imagenes img {
    height: 120px;
    width: 200px;
    object-fit: cover;
  }
}
